{% trans_default_domain 'FOSUserBundle' %}

<h1 class="text-center">{{'change_password.title' | trans }}</h1>
<div class="row regular-label">
    <div class="col-lg-6">
        <form action="{{ path('fos_user_change_password') }}" method="POST" class="fos_user_change_password">
            {{ form_widget(form) }}
            <div>
                <input type="submit" class="btn btn-default" value="{{ 'change_password.submit'|trans }}" />
            </div>
        </form>
    </div>
</div>
