{% if entity.type.content %}
    <div id="type-wrapper" class="well white-bg">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="{{ enity.type.content }}"></iframe>
        </div>
        <div class="clearfix"></div>
    </div>
{% endif %}