<div id="type-wrapper" class="well white-bg">
    <div class="row files-list-container" id="files-list-container">
        <!-- List attachments container -->
        <div id="no-files" class="hidden">
            <p class="text-center">{{ 'common.no_attached_files' | trans }}</p>
        </div>
        <!-- List group -->
        <ul class="list-group" id="type-list-container"></ul> 
    </div>
    <div class="clearfix"></div>
</div>