{% extends 'one_column.html.twig' %}

{% block seo %}
    <title> Правила пользования данным ресурсом </title>
    <meta name="robots" content="noindex">
{% endblock %}

{% block content %}
    <h1 class="text-center">Правила сайта</h1>
    
    <div class="rule-page">
        <p>
            Настоящие Правила созданы с целью упорядочивания общения и взаимодействия на данном сайте. Правила являются обязательными для исполнения всеми присутствующими на сайте.
        </p>

        <p>
            Администрация оставляет за собой право редактировать и удалять сообщения и произведения пользователей, если эти сообщения и произведения не отвечают основным требованиям и тематике данного сайта.
        </p>   

        <p>
              Администрация оставляет за собой право отключать от сайта лиц, нарушающих Порядок и Правила. Кроме того, Администрация оставляет за собой право изменять данные Правила. В таком случае об этом будет дополнительно сообщено в Новостях сайта.
        </p>      

        <h3>1. Регистрация</h3>
        <p>
            1.1 Прохождение регистрации автоматически обозначает Ваше согласие с данными Правилами. Если Вы не согласны с данными Правилами, напишите, пожалуйста, Администратору сайта. Он деактивирует Вашу учётную запись.
        </p>
        <p>
            1.2 Обратите внимание, если имя, которое Вы выбрали для участия на сайте:
            <ul>
                <li>повторяет уже существующее или нарушает нормы приличия и морали (такие Ники как: Гитлер, Антихрист, содержащие в себе антихристианские термины и т.д.)</li>
                <li>несет в себе рекламу сайтов</li>
                <li>содержит ненормативную лексику</li>
                <li>сходно до степени смешения с модераторским или админским, то Ваша учётная запись будет деактивирована без предупреждения.</li>
            </ul>    
        </p>

        <p>
            1.3 Кроме того, не выбирайте себе аватары, содержащие нецензурные изображения, копирующие аватары Администраторов.
        </p>
        
        <p>
            1.4 Пользователь обязуется не передавать другим лицам свои персональные данные, полученные при регистрации (логин и пароль, пасскей) для входа/идентификации на ресурс.
    Пользователь несет полную ответственность за утерю, пропажу, исчезновение или передачу иными способами персональных данных, а также за последствия связанные с данным деянием.
        
        </p>    

        <h3>2. Ограничения на сайте.</h3>
    Всем участникам данного сайта запрещается:
    <p>2.1. Оскорблять участников сайта в любой форме (Запрещено проявление любой грубости, угроз, личных оскорблений и нецензурных высказываний, в том числе и в скрытой форме, как в отношении юридических, так и конкретных физических лиц). Участники должны соблюдать уважительную форму общения.</p>
    <p>2.2. Пользоваться в общении на сайте матерными выражениями и словами, в том числе и в завуалированной форме.</p>
    <p>2.3. Писать рекламные тексты и сообщения коммерческого характера.</p>
    <p>2.4. Заниматься коммерцией и сбором пожертвований при помощи ресурса. В том числе запрещена публикация электронных кошельков как в сообщениях на сайте или в личных, так и в подписи, на аватаре и в профиле в целом.</p>
    <p>2.5. Использовать сайт как почтовую доску объявлений для сообщений приватного характера, адресованных конкретному участнику (для этого есть почта и сообщения).</p>
    <p>2.6. Проявлять расовую, национальную, политическую и религиозную неприязнь, пропагандировать терроризм, экстремизм, наркотики и прочие темы, несовместимые с общепринятыми законами морали и приличия.</p>
    <p>2.7. Не обсуждать события, связанные с политикой.</p>
    <p>2.8. Не выходить за христианские нормы морали.</p>
    <p>2.9. Уважительно относиться, не осуждать и не оскорблять служителей независимо от их деноминации. Не использовать в качестве ника фамилии служителей, политиков и чужих фотографий и в качестве аватарок.</p>
    <p>2.10.  Не унижать собеседников и их убеждения. Не искажать ник собеседника (копируйте ник или пользуйтесь цитированием). Не публиковать информацию, порочащую честь и репутацию конкретных людей, а также информацию личного характера.</p>
    <p>2.11. Использовать в общении на сайте язык, отличный от русского и украинского, и шрифт, отличный от кириллического. Администраторы имеют право редактировать или удалять сообщения, написанные на языке, отличном от украинского и русского, и шрифтом, отличным от кириллического, без предупреждения.</p>
    <p>2.12. Публично предъявлять претензии и обсуждать действия Администратора. Участник сайта, несогласный с действиями Администратора, может высказать своё несогласие по почте или в личном сообщении. Конечное решение по переписке принимает Администратор. Это решение является окончательным и необсуждаемым.</p>
    <p>2.13.  Не популяризировать  идеи, ставящие под сомнение христианское мировоззрение или противоречащие ему, пропагандирующие унизительное отношение или нетерпимость к христианству или его отдельным конфессиям, а также убеждения, не согласующиеся с Апостольским и Никейским символом веры.</p>
    <p>2.14. Не оспаривать действия модераторов, не критиковать работу сайта, не распространять недостоверную информацию о сайте, не вести диалог с модераторами, кроме как в соответствующем разделе.</p>

    <h3>3. Пользователи на сайте обязаны:</h3>
    <p>3.1. Размещать на сайте только свои авторские произведения. За размещение чужих произведений от своего имени, учетная запись пользователя будет удалена без предупреждения. Автор несет полную ответственность согласно действующему законодательству за произведение размещенное на сайте, как и за свои комментарии и сообщения.</p>
    <p>
        3.2. Ответственность за все материалы, добавляемые пользователем на сайте, равно как и за их копирайты несет сам пользователь. Если по вине пользователя на сайт попали материалы, нарушающие авторское право, ущемляющие права других пользователей или причиняющие любой ущерб - сайт не несет за это никакой ответственности, а пользователь соглашается с тем, что к нему могут предъявляться любые претензии по вопросам авторского права и возмещения ущерба, как на государственном, так и на международном уровне.
    </p>
    <p>
        3.3. Пользователь соглашается с тем, что сайт не несет никакой ответственности за прямые или косвенные убытки или ущерб, нанесенные пользователю работой сайта, информацией, размещенной на сайте, а также вызванные пребыванием пользователя на сайте. При этом пользователь возлагает на себя всю ответственность за взаимодействие с сайтом и возможные последствия этого.
    </p>   

    <p> 
     3.4. Пользователь соглашается с тем, что он не будет заниматься деятельностью, приносящей вред сайту и согласен на то, что в противном случае его данные будут переданы на рассмотрение уполномоченным правоохранительным органам.
    </p>

    <p>
        3.5. Пользователь соглашается с тем, что сайт не несет никакой ответственности за перебои, возникшие в результате технических работ или вызванные третьими лицами (хостерами, провайдерами и т.д.).
    </p>
</div>
{% endblock %}