<div class="blocked-loader text-center">&nbsp;</div>
<p class="text-center no-data hidden" id="no-blocked-notif">{{ 'common.no_blocked' | trans }}.</p>
<table class="table table-hover" id="blocked-table"></table>